@page "/Test"
@using BlazorWebApp.Classes
@inject MyStatus MyStatus
@inject MyBackgroundService background
@rendermode @(new InteractiveServerRenderMode(false))
<h3>Test</h3>
<p>Service Status: @MyStatus.Data </p>
<button @onclick="@stop">stop</button>
<button @onclick="@start">start</button>
<button @onclick="@check">check status</button>
@code {

    private async Task stop()
    {
        background.Cancel();
        MyStatus.Running = false;
        
    }

    private void start()
    {
        MyStatus.Running = true;
        
        
    }

    private void check()
    {
        background.CheckStatus();
    }

}